# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\QCTC\workspace\learnJava\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
